#root{
    user-select: none;
    font-family: 'Roboto Mono', monospace;
}

.fade-page-enter{
    opacity: 0;
}

.fade-page-enter-active{
    opacity: 1;
    transition: opacity 100ms;
}

.fade-page-exit{
    opacity: 1;
}

.fade-page-exit-active{
    opacity: 0;
    transition: opacity 100ms;
}

.tool-tip-enter{
    opacity: 0;
}

.tool-tip-enter-active{
    opacity: 1;
    transition: opacity 100ms;
}

.tool-tip-exit{
    opacity: 1;
}

.tool-tip-exit-active{
    opacity: 0;
    transition: opacity 100ms;
}